body,
ul,
li {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.w {
    margin: 0 auto;
    width: 1440px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #000000;
}

header div.menu {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    height: 50px;
}

header .hash {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header .nav {
    /*border: thin solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
}

header .nav a {
    font-family: Roboto;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

header .nav a:hover {
    border: #ffffff solid thin;
    border-radius: 4px;
}


/*-------------------------------------------------------------*/

section.one {
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    /*padding-top: 10px;*/
    color: white;
}

section.one .main {
    margin: 0 auto;
    padding-top: 10px;
    width: 1440px;
    /*border: thin solid yellow;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

section.one .main .main_foto {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.one div.main .Name {
    width: 50%;
}

section.one div.main .Name .Name1 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

section.one div.main .Name .Name2 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

section.one div.main .Name .Name3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

section.one div.main .Name .Name4 {
    display: flex;
    align-items: center;
}

section.one div.Name4 button {
    padding: 10px 0;
    border-radius: 4px;
    background-color: #6dcc0e;
    border: none;
    width: 329px;
    height: 48px font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

section.one .Name4 {
    margin-top: 20px;
}

section.one .Name4 div {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 50px;
}

section.one .Name4 div span {
    font-weight: 100;
}


/*-----------------------------------------------------*/

section.two {
    min-height: 100vh;
    padding-top: 50px;
    padding-left: 50px;
    box-sizing: border-box;
}

section.two .top .left>div:first-child {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.98;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

section.two .top .left>div:last-child {
    -webkit-text-stroke: 2px #5a5858;
    font-family: Roboto;
    font-size: 76px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0);
    ;
}

section.two .top {
    display: flex;
    align-items: flex-start;
}

section.two .top .left {
    width: 33%;
}

section.two .top .right {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
}

section.two .top .right .q1 {
    font-family: Roboto;
    font-size: 90px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

section.two .top .right .q2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

section.two .top .right .q3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #909090;
}

section.two .top .right>div {
    /*background-color: yellow;*/
    min-width: 49%;
    border-left: 6px solid #6dcc0e;
    padding-left: 5px;
    box-sizing: border-box;
    margin-bottom: 50px;
}


/*----------------------*/

section.two .bot {
    display: flex;
}

section.two .bot .left {
    width: 33.33%;
}

section.two .bot .left .text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

section.two .bot .left .icon ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

section.two .bot .left .icon ul li {
    /* height: 52px;
    width: 100px;
     border-radius: 50%;*/
    background-color: lemonchiffon;
}

section.two .bot .left .icon ul li svg {
    height: 26px;
    min-height: 100%;
    width: 100px;
    min-width: 100%;
    fill: lightcoral;
}

section.two .bot .right {
    width: 66.67%;
}

section.two .bot .right img {
    /*max-width: 100%;*/
    max-height: 400px;
}

section.two .bot .right>div {
    background-color: #3b7006;
}

section.two .bot .right>div:first-child {
    position: relative;
}

section.two .bot .right .square-top-right {
    position: absolute;
    min-width: 148px;
    min-height: 148px;
    right: -20px;
    top: -20px;
    background-color: lawngreen;
}

section.two .bot .right .square-left-bottom {
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    left: -20px;
    bottom: -20px;
    background-color: lawngreen;
}