:root {
    --wi: 1200px;
    --x: 20px;
}

body,
ul,
li {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.w {
    margin: 0 auto;
    width: var(--wi);
}

header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #000000;
    z-index: 100;
}

header div.menu {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    min-height: 50px;
}


/* адаптивне меню */

header .menu_responsive {
    /* display: none; */
}

header .menu_responsive .menu_block {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: #6dcc0e;
    border-radius: 4px;
}

header .menu_responsive .menu_block>div {
    width: calc(100% - 10px);
    height: 3px;
    position: absolute;
    background-color: rgb(2, 2, 2);
}

header .menu_responsive .menu_block>div:nth-child(1) {
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
}

header .menu_responsive .menu_block>div:nth-child(2) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header .menu_responsive .menu_block>div:nth-child(3) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
}

header .menu_responsive .menu_block>div:nth-child(1).opened {
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
}

header .menu_responsive .menu_block>div:nth-child(2) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header .menu_responsive .menu_block>div:nth-child(3) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
}


/* end адаптивне меню */

header .hash {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header .nav {
    /*border: thin solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 50%; */
    list-style-type: none;
}

header .nav a {
    font-family: Roboto;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

header .nav a:hover {
    border: #ffffff solid thin;
    border-radius: 4px;
}


/*-------------------------------------------------------------*/

section.one {
    min-height: 100vh;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}

section.one .main {
    margin: 0 auto;
    padding-top: 10px;
    /* width: 100%; */
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

section.one .main .main_foto {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.one div.main .Name {
    width: 50%;
}

section.one div.main .Name .Name1 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

section.one div.main .Name .Name2 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

section.one div.main .Name .Name3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

section.one div.main .Name .Name4 {
    display: flex;
    align-items: center;
}

section.one div.Name4 button {
    padding: 10px 0;
    border-radius: 4px;
    background-color: #6dcc0e;
    border: none;
    width: 329px;
    height: 48px font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

section.one .Name4 {
    margin-top: 20px;
}

section.one .Name4 div {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 50px;
}

section.one .Name4 div span {
    font-weight: 100;
}


/*-----------------------------------------------------*/

section.two {
    min-height: 100vh;
    /* margin: 30px 0px 50px 0px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.two .top .left>div:first-child {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.98;
    letter-spacing: normal;
    color: #000000;
}

section.two .top .left>div:last-child {
    -webkit-text-stroke: 2px #5a5858;
    font-family: Roboto;
    font-size: 76px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0);
}

section.two .top {
    display: flex;
    align-items: flex-start;
}

section.two .top .left {
    width: 33%;
}

section.two .top .right {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
}

section.two .top .right .q1 {
    font-family: Roboto;
    font-size: 90px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

section.two .top .right .q2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

section.two .top .right .q3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    color: #909090;
}

section.two .top .right>div {
    /*background-color: yellow;*/
    min-width: 49%;
    border-left: 6px solid #6dcc0e;
    padding-left: 5px;
    box-sizing: border-box;
    margin-bottom: 50px;
}


/*----------------------*/

section.two .bot {
    display: flex;
}

section.two .bot .left {
    width: 33.33%;
    min-width: 33.33%;
}

section.two .bot .left .text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

section.two .bot .left .icon {
    display: flex;
    margin-top: 5px;
}

section.two .bot .left .icon>div {
    background-color: #6dcc0e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    border-radius: 50%;
}

section.two .bot .left .icon>div+div {
    margin-left: 5px;
}

section.two .bot .left .icon img {
    width: 26px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.two .bot .right {
    width: 66.67%;
    min-width: 66.67%;
}

section.two .bot .right .square-top-right {
    position: absolute;
    min-width: 148px;
    min-height: 148px;
    right: -20px;
    top: -20px;
    background-color: lawngreen;
    z-index: -1;
}

section.two .bot .right .square-left-bottom {
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    left: -20px;
    bottom: -20px;
    background-color: lawngreen;
    z-index: -1;
}

section.two .bot .right .slider_wrapper {
    min-height: 398px;
    position: relative;
}

section.two .bot .right .slider1 .slsl1 {
    min-height: 398px;
    background-color: aquamarine;
    background-image: url(../img/sl1.png);
    background-size: cover;
    background-position: 50% 50%;
}

section.two .bot .right .slider1 .slsl2 {
    min-height: 398px;
    background-color: rgb(2, 34, 23);
    background-image: url(../img/sl2.png);
    background-size: cover;
    background-position: center;
}

section.two .bot .right .pagin {
    position: absolute;
    bottom: -30px;
    right: 0;
}

section.two .bot .right .pagin>div {
    width: 130px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.two .bot .right .pagin button {
    border: none;
    background: none;
    cursor: pointer;
}

section.two .bot .right .pagin svg {
    height: 25px;
    width: 25px;
    fill: rgb(0, 0, 0);
}

section.two .bot .right .pagin .scale svg {
    /* fill: rgb(211, 28, 28); */
    transform: scaleX(-1);
}


/*------------------------------------------------------*/

.home__for-who {
    /* margin-top: 30px; */
    background-color: rgb(0, 0, 0);
    /* padding: 80px 0px; */
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.home__for-who .container {
    margin: 0 auto;
    width: 1200px;
}

.d-flex {
    display: flex;
}

.home__for-who .title {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.98;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    min-width: 33.33%;
    width: 33.33%;
    text-transform: uppercase;
}

.home__for-who .title span {
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.home__for-who .items {
    width: 66.67%;
    min-width: 66.67%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home__for-who .items .item {
    color: blanchedalmond;
    width: calc(50% - var(--x) * 2);
    min-width: calc(50% - var(--x) * 2);
    padding: 10px;
    box-sizing: border-box;
    margin-right: calc(var(--x) * 2);
    margin-bottom: var(--x);
}

.home__for-who .items .item .item__title {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: calc(var(--x) / 2);
}

.home__for-who .items .item .item__description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.home__for-who .items .item .item__thumb {
    min-height: 194px;
    /* background-color: chartreuse; */
    position: relative;
    margin-bottom: var(--x);
}

.home__for-who .items .item .item__thumb>div {
    position: absolute;
    background-color: crimson;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-position: center;
    background-size: cover;
}

.home__for-who .items .item .item__thumb::before {
    content: '';
    width: 52px;
    height: 52px;
    background-color: cornsilk;
    position: absolute;
    top: -7px;
    left: -7px;
    z-index: 1;
}

.home__for-who .items .item .item__thumb::after {
    content: '';
    width: 121px;
    height: 121px;
    background-color: rgb(172, 138, 2);
    position: absolute;
    bottom: -7px;
    right: -7px;
    z-index: 1;
}


/*-----------------------------------------------------*/

section.testimonials {
    min-height: 100vh;
}

section.testimonials .container {
    box-sizing: border-box;
    padding-top: 100px;
}

section.testimonials .container>div:last-child {
    position: relative;
}


/* todo */

section.testimonials .todo {
    min-height: 226px;
    background-color: #6dcc0e;
    box-sizing: border-box;
    display: flex;
}

section.testimonials .todo .finish {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

section.testimonials .todo .finish .finish_left {
    min-width: 66.67%;
    width: 66.67%;
    box-sizing: border-box;
}

section.testimonials .todo .finish .finish_right {
    min-width: 33.33%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.testimonials .todo .finish .finish_left>span:nth-child(1) {
    font-family: Roboto;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: block;
    font-weight: bold;
}

section.testimonials .todo .finish .finish_left>span:nth-child(2) {
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: block;
}

section.testimonials .todo .finish .finish_left>span:nth-child(3) {
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: block;
}

section.testimonials .todo .finish .finish_right button {
    width: 300px;
    height: 48px;
    padding: 0 30px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: calc(var(--x) / 1);
}

section.testimonials .todo .finish .finish_right>div {
    line-height: 1;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}


/* end todo */


/*  */

section.testimonials .testimonials_header {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.98;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 20px;
}

section.testimonials .testimonials_header span {
    -webkit-text-stroke: 2px #000000;
    font-family: Roboto;
    font-size: 76px;
    font-weight: 900;
    line-height: 1.03;
    display: block;
    color: transparent;
}

section.testimonials .testimonials_items {
    min-height: 400px;
    position: relative;
    margin-top: 20px;
}

section.testimonials .testimonials_items::before {
    width: 148px;
    height: 148px;
    content: '';
    background-color: #6dcc0e;
    position: absolute;
    top: -21px;
    right: -21px;
    z-index: 1;
}

section.testimonials .testimonials_items::after {
    width: 250px;
    height: 250px;
    content: '';
    background-color: #6dcc0e;
    position: absolute;
    left: -31px;
    bottom: -31px;
    z-index: 1;
}

section.testimonials .testimonials_items .testimonials_items_slider_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}


/*слайдер*/

section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide1,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide2,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide3,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide4,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide5,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide6 {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide1 svg,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide2 svg,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide3 svg,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide4 svg,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide5 svg,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide6 svg {
    width: 30px;
    height: 30px;
    fill: #6dcc0e;
    padding: 10px;
}

section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide1 .lorem,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide2 .lorem,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide3 .lorem,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide4 .lorem,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide5 .lorem,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide6 .lorem {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #121212;
    padding: 0 30px 10px 30px;
}

section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide1 .author_block,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide2 .author_block,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide3 .author_block,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide4 .author_block,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide5 .author_block,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide6 .author_block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide1 .author,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide2 .author,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide3 .author,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide4 .author,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide5 .author,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide6 .author {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #6dcc0e;
    margin-right: 10px;
}

section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide1 .author span,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide2 .author span,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide3 .author span,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide4 .author span,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide5 .author span,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide6 .author span {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}

section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide1 img,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide2 img,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide3 img,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide4 img,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide5 img,
section.testimonials .testimonials_items .testimonials_items_slider_container .slider2 div.slide6 img {
    border-radius: 50%;
    margin-right: 10px;
}


/*--------------------------------------------------slider contrlos*/

section.testimonials .pagin {
    /* background-color: coral; */
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 11;
}

section.testimonials .pagin>div {
    width: 130px;
    /* background-color: brown; */
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.testimonials .pagin button {
    border: none;
    background: none;
    cursor: pointer;
}

section.testimonials .pagin svg {
    height: 25px;
    width: 25px;
    fill: rgb(0, 0, 0);
    /* margin: 0 10px; */
}

section.testimonials .pagin .scale svg {
    /* fill: rgb(211, 28, 28); */
    transform: scaleX(-1);
}


/*-------------------------------contacts section -------------*/

section.contacts {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.contacts .container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    /* background-color: cadetblue; */
}

.contacts .contacts_left_box {
    min-width: 45%;
    width: 45%;
    /* background-color: rgb(131, 121, 121); */
}

.contacts .contacts_right_box {
    /* background-color: rgb(135, 167, 236); */
    color: black;
    min-width: 45%;
    /* width: 45%; */
    position: relative;
}

.contacts .contacts_left_box .title {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
}

.contacts .contacts_left_box .title span {
    -webkit-text-stroke: 1px #ffffff;
    font-family: Roboto;
    font-size: 76px;
    font-weight: 900;
    line-height: 1;
    color: transparent;
    display: block;
    text-transform: uppercase;
}

.contacts .contacts_left_box .adress,
.contacts .contacts_left_box .tel,
.contacts .contacts_left_box .social {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 2em;
}

.contacts .contacts_left_box .adress span {
    display: block;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 0.2em;
}

.contacts .contacts_left_box .tel span {
    display: block;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    margin-top: 0.2em;
}

.contacts .contacts_left_box .social_icon {
    display: flex;
}

.contacts .contacts_left_box .social_icon svg {
    width: 28px;
    height: 28px;
    margin: 1em;
    margin-left: 0;
    fill: white;
}


/*----------form-----------------*/

.contacts .contacts_right_box .opys {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
}

.contacts .contacts_right_box .opys span {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    color: #6dcc0e;
}

.contacts .contacts_right_box form input {
    display: block;
    width: 90%;
    min-width: 90%;
    height: 33px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid black;
    font-family: Roboto;
    /* font-weight: 500; */
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.contacts .contacts_right_box form label {
    display: block;
    width: 90%;
    min-width: 90%;
    /* height: 33px; */
    margin: 0 auto;
    margin-top: 2em;
    font-family: Roboto;
}

.contacts .contacts_right_box form input.name {
    border-bottom: 1px solid #6dcc0e;
}

.contacts .contacts_right_box form button {
    margin: 2em auto;
    display: block;
    border: none;
    background-color: #6dcc0e;
    height: 2em;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 2em;
    color: #ffffff;
    width: 90%;
    min-width: 90%;
    border-radius: 4px;
    cursor: pointer;
}

.contacts .contacts_right_box .form_wrapper form {
    min-height: 100%;
    width: ;
    min-width: 635px;
    position: relative;
    z-index: 2;
    background-color: rgb(253, 253, 253);
}

.contacts .contacts_right_box::before {
    position: absolute;
    content: '';
    width: 148px;
    height: 148px;
    background-color: #6dcc0e;
    top: -16px;
    right: -16px;
    z-index: 1;
}

.contacts .contacts_right_box::after {
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    background-color: #6dcc0e;
    left: -29px;
    bottom: -29px;
    z-index: 1;
}